# March Madness - Data Exploratory

In [1]:
# Dependencies 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import redis
import json

In [2]:
teams = pd.read_csv('data_local/MTeams.csv')
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2023
1    1102    Air Force           1985          2023
2    1103        Akron           1985          2023
3    1104      Alabama           1985          2023
4    1105  Alabama A&M           2000          2023

In [ ]:
# https://redis.io/docs/get-started/vector-database/
r = redis.Redis(host='localhost', port=6379, decode_responses=True)